@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 35px;
}

h2 {
  font-weight: 400;
}

p {
  margin: 12px 0;
  line-height: 22px;
}

a {
  margin: 12px 0;
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

/* ------------------- */
/* CLASSES */
/* ------------------- */
.wrapper {
  display: flex;
}

.info_wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* ------------------- */
/* Navigation */
/* ------------------- */
.nav {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: justify;
  margin-right: 60px;
  margin-bottom: 60px;
  color: black;
}

/* ------------------- */
/* Homepage */
/* ------------------- */
.homepage_wrapper {
  width: 70%;
  align-items: center;
  margin: 0 auto;
}

.homepage_images_wrapper {
  width: 100%;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage_image_title_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage_image_title_wrapper img {
  width: 200px;
  margin: 0 50px;
}

.homepage_descriptions_wrapper {
  width: 100%;
  text-align: justify;
  padding-top: 60px;
  radial-gradent:(#6495ed,	#ffffff );
}

/* Gecekondu page */
.popover_wrapper {
  width: 700px;
  text-align: left;
}
