@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

body {
  padding: 60px;
  margin: 0;
  font-family: 'Lora', serif;
}

p {
  margin: 12px 0;
}

a {
  margin: 12px 0;
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

/* ------------------- */
/* CLASSES */
/* ------------------- */
.wrapper {
  display: flex;
}

.info_wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* ------------------- */
/* Navigation */
/* ------------------- */
.nav {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 60px;
  margin-bottom: 60pxpx;
  color: black;
}

.active {
  color: blue;
}

/* ------------------- */
/* Homepage */
/* ------------------- */
.homepage_images_wrapper {
  width: 100%;
  height: 320px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage_image_title_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage_image_title_wrapper img {
  width: 200px;
  margin: 0 50px;
}

.homepage_descriptions_wrapper {
  width: 50%;
  text-align: justify;
  padding-top: 60px;
  radial-gradent:(#6495ed,	#ffffff );
}